{% extends "base.html" %}
{% set title = 'Invent with Scratch' %}
{% block content %}


<div id="page">

<h1 class="site-title">Invent with Scratch!</h1>

<div style="vertical-align: top;"><table border="0"><tr><td><a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf"><img src="/images/ScratchProgrammingPlayground_cover.png" /></a></td>

<td>
<p><a href="https://scratch.mit.edu/">Scratch</a> is a free, graphical programming environment from MIT. It teaches 8- to 16-year-olds programming by snapping code blocks together to form complete programs.</p>

<ul>
<li><a href="http://scratch.mit.edu/about/">About Scratch</a></li>
<li><a href="http://scratch.mit.edu/parents/">Information for Parents</a></li>
</ul>

<p><a href="http://scratch.mit.edu">By signing up for a free account</a>, you can access your Scratch programs from any web browser.</p>

<p>I wrote <a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf">Scratch Programming Playground</a>, with many of these projects. You’ll learn to program by making cool games where players destroy asteroids, shoot hoops, and slice and dice fruit!</p>

<p>Each game includes easy-to-follow instructions, review questions, and creative coding challenges to make the game your own. Want to add more levels or a cheat code? No problem, just write some code.</p>

<ul>
<li><a href="https://www.nostarch.com/scratchplayground">Buy the print book &amp; ebook bundle on No Starch Press</a></li>
<li><a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf">Buy the print book on Amazon</a></li>
<li><a href="https://inventwithscratch.com/book">Read the book online for free</a></li>
</ul>
</td>

</tr></table></div>

<div style="vertical-align: top;"><table border="0"><tr><td><a href="https://www.udemy.com/scratch-game-programming/"><img src="/images/udemy_course_image.jpg" /></a></td>

<td>
<p>
<p>I've also created a <a href="https://www.udemy.com/scratch-game-programming/"><strong>free</strong> online course on Udemy that follows the first six projects from the Scratch Programming Playground</a>. (This course covers Scratch 2, but will be updated in early-2020. The code between Scratch 2 and Scratch 3 is nearly identical, and the course can still be used to learn Scratch programming.)</p>

</td>

</tr></table></div>

<h2>Downloads</h2>

<p><a href="/ScratchPlaygroundContent.zip"><img src="/images/download.png"> Downloadable content zip file for Scratch Programming Playground</a></p>

<p>The <a href="/downloads/">downloads page</a> has image files for the screencast tutorial projects.</p>

<!--
<h2>Udemy Course</h2>

<p>The Scratch Programming Playground online course on Udemy is a video tutorial guide that covers the first 6 projects of the book. Use discount code SCRATCHER to cut the price of the course from $30 to $10.</p>

-->

<h2>Screencast Tutorials</h2>

<div style="overflow: auto;">
<article><a href="/ikarugacat/" title="Ikaruga Cat" rel="bookmark"><img width="180" height="180" src="/images/ikarugacat_thumb.png" class="project-thumb" title="Ikaruga Cat"> <br />Ikaruga Cat</a></article>

<article><a href="/asteroids/" title="Asteroids" rel="bookmark"><img width="180" height="180" src="/images/asteroids_thumb.png" class="project-thumb" title="Asteroids"> <br />Asteroids</a></article>

<article><a href="/bomberman/" title="Bomberman" rel="bookmark"><img width="180" height="180" src="/images/bomberman_thumb.png" class="project-thumb" title="Bomberman"> <br />Bomberman</a></article>

<article><a href="/memory/" title="Memory" rel="bookmark"><img width="180" height="180" src="/images/memory_thumb.png" class="project-thumb" title="Memory"> <br />Memory</a></article>

<article><a href="/froghop/" title="Frog Hop" rel="bookmark"><img width="180" height="180" src="/images/froghop_thumb.png" class="project-thumb" title="Frog Hop"> <br />Frog Hop</a></article>

<article><a href="/rainbowlines/" title="Rainbow Lines" rel="bookmark"><img width="180" height="180" src="/images/rainbowlines_thumb.png" class="project-thumb" title="Rainbow Lines"> <br />Rainbow Lines</a></article>

<article><a href="/ghostbusters/" title="Ghostbusters" rel="bookmark"><img width="180" height="180" src="/images/ghostbusters_thumb.png" class="project-thumb" title="Ghostbusters"> <br />Ghostbusters</a></article>

<article><a href="/crazyorbrocketrobot/" title="Crazy Orb Rocket Robot" rel="bookmark"><img width="180" height="180" src="/images/crazyorbrocketrobot_thumb.png" class="project-thumb" title="Asteroids"> <br />Crazy Orb Rocket Robot</a></article>

<article><a href="/boomerang/" title="Boomerang" rel="bookmark"><img width="180" height="180" src="/images/boomerang_thumb.png" class="project-thumb" title="Boomerang"> <br />Boomerang</a></article>

<article><a href="/daleks/" title="Daleks" rel="bookmark"><img width="180" height="180" src="/images/daleks_thumb.png" class="project-thumb" title="Daleks"> <br />Daleks</a></article>

<article><a href="/tron/" title="Tron" rel="bookmark"><img width="180" height="180" src="/images/tron_thumb.png" class="project-thumb" title="Tron"> <br />Tron</a></article>

<article><a href="/meteordodge/" title="Meteor Dodge" rel="bookmark"><img width="180" height="180" src="/images/meteordodge_thumb.png" class="project-thumb" title="Meteor Dodge"> <br />Meteor Dodge</a></article>

<article><a href="/reversegravity/" title="Reverse Gravity" rel="bookmark"><img width="180" height="180" src="/images/reversegravity_thumb.png" class="project-thumb" title="Reverse Gravity"> <br />Reverse Gravity</a></article>

<article><a href="/basketballgame/" title="Basketball" rel="bookmark"><img width="180" height="180" src="/images/basketball_thumb.png" class="project-thumb" title="Basketball"> <br />Basketball</a></article>

<article><a href="/catworm/" title="Catworm" rel="bookmark"><img width="180" height="180" src="/images/catworm_thumb.png" class="project-thumb" title="Catworm"> <br />Catworm</a></article>

<article><a href="/whackacat/" title="Whack a Cat" rel="bookmark"><img width="180" height="180" src="/images/whackacat_thumb.png" class="project-thumb" title="Whack a Cat"> <br />Whack a Cat</a></article>

<article><a href="/shellgame/" title="Shell Game" rel="bookmark"><img width="180" height="180" src="/images/shellgame_thumb.png" class="project-thumb" title="Shell Game"> <br />Shell Game</a></article>

<article><a href="/pinwheel/" title="Pinwheel" rel="bookmark"><img width="180" height="180" src="/images/pinwheel_thumb.png" class="project-thumb" title="Pinwheel"> <br />Pinwheel</a></article>

<article><a href="/blockbreaker/" title="Block Breaker" rel="bookmark"><img width="180" height="180" src="/images/blockbreaker_thumb.png" class="project-thumb" title="Block Breaker"> <br />Block Breaker</a></article>

<article><a href="/mazegame/" title="Maze" rel="bookmark"><img width="180" height="180" src="/images/maze_thumb.png" class="project-thumb" title="Maze"> <br />Maze</a></article>

<article><a href="/doublejump/" title="Double Jump" rel="bookmark"><img width="180" height="180" src="/images/doublejump_thumb.png" class="project-thumb" title="Double Jump"> <br />Double Jump</a></article>
</div>


<h2>Scratch Class Handbook</h2>

<p>After being an instructor for the Saturday Morning Scratch Classes at the <a href="https://themade.org/">Museum of Art and Digital Entertainment</a> in Oakland, CA, Al Sweigart has compiled a handbook of tips for teachers and parents interested in using Scratch to lead an after school coding club:</p>

<p><a href="/Scratch_Class_Handbook_v2.pdf">Scratch Class Handbook PDF (version 3, updated 2020/10/07)</a></p>

<h2>Review Book Offer for Parents and Teachers<a name="review"></a></h2>

      <p><em>Scratch Programming Playground</em> teaches complete beginners how to program and make games in Scratch. If you'd like to receive a free print book, please fill out the form at <a href="https://goo.gl/forms/bp4yQxhZW9qmyL3w2">https://goo.gl/forms/bp4yQxhZW9qmyL3w2</a>. Please specify you want "Scratch Programming Playground". You'll receive a free ebook to read, and upon posting a review to Amazon, you'll receive a complementary print review copy of the book. (UPDATE: There's been a large amount of interest, and I can't guarantee you'll get a print book. However, I can definitely send you an ebook to review.)</p>

      <p><strong>To demonstrate that you will be able to write a review, please send me a link to an Amazon, Goodreads, or Powells review you have written before.</strong></p>

      <p>Please post an honest review. You will receive a print book no matter what your rating is. The only requirements are that the review be a minimum of 100 words, you must live within the United States (due to shipping costs), you must have purchased $50 off Amazon in the last year (Amazon has this requirement before you can write a review),  and that you email me first before writing the review.</p>

      <p>Thanks!,<br />-Al Sweigart</p>

<!--
<h2>About the Author</h2>

<p>Al Sweigart is a software developer and teaches programming to kids and adults. He has written several books for beginners, including <a href="https://www.nostarch.com/scratchplayground">Scratch Programming Playground</a>, <a href="https://automatetheboringstuff.com/">Automate the Boring Stuff with Python</a>, <a href="https://inventwithpython.com/hacking/">Hacking Secret Ciphers with Python</a>, <a href="https://inventwithpython.com/">Invent Your Own Computer Games with Python</a>, and <a href="https://inventwithpython.com/pygame/">Making Games with Python &amp; Pygame</a></p>
-->

</div>
{% endblock %}
