{% extends "base.html" %}

{% block content %}
<div id="page">

<h1 class="site-title">Demoscene</h1>


<p><a href="https://scratch.mit.edu/projects/18991290/"><img src="demoscene1.gif"> Plasma PG2</a></p>
<p><a href="https://scratch.mit.edu/projects/61991330/"><img src="demoscene3.gif"> Opac3tyD v1.4 (Demoscene)</a></p>
<p><a href="https://scratch.mit.edu/projects/69320262/"><img src="demoscene4.gif"> dodecagon Sierpinski</a></p>
<p><a href="https://scratch.mit.edu/projects/28496264/"><img src="demoscene2.gif"> Bezier Curve Generator</a></p>


</div>
{% endblock %}