{% extends "base.html" %}
{% set title = 'Invent with Scratch' %}
{% block content %}


<div id="page">

<h1 class="site-title">Scratch Programming Playground</h1>

<p>
<table border="0"><tr><td><a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf"><img src="/images/scratchplayground_small_cover.png" /></a></td>

<td>Scratch Programming Playground is free to read online under a Creative Commons license. If you'd like to support the author, <a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf">you can purchase a print or ebook</a>.</td></tr></table> 

</p>

<ul>
<li><a href="chapter0.html">Chapter 0 - Introduction</a></li>
<li><a href="chapter1.html">Chapter 1 - Getting Started with Scratch</a></li>
<li><a href="chapter2.html">Chapter 2 - Rainbow Lines in Space!</a></li>
<li><a href="chapter3.html">Chapter 3 - Maze Runner</a></li>
<li><a href="chapter4.html">Chapter 4 - Shooting Hoops with Gravity</a></li>
<li><a href="chapter5.html">Chapter 5 - A Polished Brick Breaker Game</a></li>
<li><a href="chapter6.html">Chapter 6 - Snaaaaaake!</a></li>
<li><a href="chapter7.html">Chapter 7 - Fruit Slicer</a></li>
<li><a href="chapter8.html">Chapter 8 - Asteroid Breaker... in Space!</a></li>
<li><a href="chapter9.html">Chapter 9 - Making an Advanced Platformer</a></li>
</ul>

</div>
{% endblock %}
