{% extends "base.html" %}

{% block content %}
<div id="page">

<h1 class="site-title">Downloads</h1>

<p>Maze Images:<br />
<a href="/mazes/maze1.png"><img src="/mazes/maze1.png" /></a>
<a href="/mazes/maze2.png"><img src="/mazes/maze2.png" /></a>
<a href="/mazes/maze3.png"><img src="/mazes/maze3.png" /></a>
<a href="/mazes/maze4.png"><img src="/mazes/maze4.png" /></a>
<a href="/mazes/maze5.png"><img src="/mazes/maze5.png" /></a>
<a href="/mazes/maze6.png"><img src="/mazes/maze6.png" /></a>
<a href="/mazes/maze7.png"><img src="/mazes/maze7.png" /></a>
<a href="/mazes/maze8.png"><img src="/mazes/maze8.png" /></a>
</p>

<p>Explosion Images:<br />
<a href="/explosions/explosion1.png"><img src="/explosions/explosion1.png" /></a>
<a href="/explosions/explosion2.png"><img src="/explosions/explosion2.png" /></a>
<a href="/explosions/explosion3.png"><img src="/explosions/explosion3.png" /></a>
<a href="/explosions/explosion4.png"><img src="/explosions/explosion4.png" /></a>
<a href="/explosions/explosion5.png"><img src="/explosions/explosion5.png" /></a>
<a href="/explosions/explosion6.png"><img src="/explosions/explosion6.png" /></a>
<a href="/explosions/explosion7.png"><img src="/explosions/explosion7.png" /></a>
<a href="/explosions/explosion8.png"><img src="/explosions/explosion8.png" /></a>
<a href="/explosions/explosion9.png"><img src="/explosions/explosion9.png" /></a>
<a href="/explosions/explosion10.png"><img src="/explosions/explosion10.png" /></a>
</p>

<p>Asteroid Images:<br />
<a href="Asteroid.png"><img src="/Asteroid.png" /></a>
<a href="Spaceship.png"><img src="/Spaceship.png" /></a>
</p>


<h2>Scratch Programming Playground</h2>

<a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf"><img src="/images/scratchplayground_small_cover.png" /></a>

<ul>
<li><a href="https://www.nostarch.com/scratchplayground">Buy the print book &amp; ebook bundle on No Starch Press</a></li>
<li><a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf">Buy the print book on Amazon</a></li>
<li><a href="https://inventwithscratch.com/book">Read the book online for free</a></li>
</ul>


</div>
{% endblock %}