{% extends "base.html" %}

{% block content %}
<div id="page">

<h1 class="site-title">{{title}}</h1>

<ul>
<li><a href="{{youtubelink}}">Watch this tutorial on YouTube</a></li>
<li><a href="{{vimeolink}}">Download the video from Vimeo</a></li>
<li><a href="{{scratchlink}}">Play this game on the Scratch website</a></li>
<li><a href="{{projectlink}}">Download the Scratch project file</a></li>
</ul>

<p><iframe width="960" height="720" src="{{youtubeiframe}}" frameborder="0" allowfullscreen></iframe></p>

<h2>Scratch Programming Playground</h2>

<a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf"><img src="/images/scratchplayground_small_cover.png" /></a>

<ul>
<li><a href="https://www.nostarch.com/scratchplayground">Buy the print book &amp; ebook bundle on No Starch Press</a></li>
<li><a href="https://www.amazon.com/gp/product/1593277628/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1593277628&linkId=03f6be89a91b87b81bc6eeb6b3c73eaf">Buy the print book on Amazon</a></li>
<li><a href="https://inventwithscratch.com/book">Read the book online for free</a></li>
</ul>


</div>
{% endblock %}